{% extends 'inventory/base.html' %}

{% block content %}
<div>
    <div class="row">
            <div class="col-sm-11 col-md-5 mx-auto mt-5 px-3">
                <h1 class="fw-light">Manage and Track your Inventory</h1>
                <p class="fw-light">Use Machine Learning for Analytics</p>
            
                <div>
                <a href="{% url 'dashboard' %}" class="btn btn-primary">Start Managing</a>
                </div>

            </div>
    </div>
</div>
{% endblock content %}